/* Hide the dropdown submenu by default */
.submenu-list {
    display: none;
    list-style-type: none;
    margin: 0;
    padding-left: 20px; /* indent for clarity */
    background: #fff;
    border-left: 2px solid #018fe5;
    position: static;
    box-shadow: none;
    width: auto;
}

/* Show the submenu when the parent <li> is hovered */
.nav-item:hover > .submenu-list {
    display: block; /* Show the submenu on hover */
}

/* Style for submenu items */
.dropdown-submenu li {
    padding: 5px 10px;
}

.dropdown-submenu li a {
    text-decoration: none;
    color: black;
}

.dropdown-submenu li a:hover {
    color: #018fe5; /* Highlight color on hover */
}

.submenu-list.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}