.card-change {
    border-radius: 30px;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin: 22px 40px;
    border-width: 0;
    
}

.slider-container {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.card-design {
    display: flex;
    flex-direction: row;
}

.slick-slide {
    padding: 0 10px; /* Adds horizontal spacing between slides */
}

.image-size {
    width: 95%;
    margin: 8px 8px 24px;
    border-radius: 30px;
}

