.footer-style {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    background: linear-gradient(
        to bottom,
        #fff 0%,
        #018fe5 20%,
        #018fe5 80%
    );
    padding: 32px 0;
}

.footer-style p, .footer-style h1, .footer-style h2, .footer-style h3, .footer-style h4, .footer-style h5, .footer-style h6 {
    margin: 5px 0; /* Adjust the margin as needed */
    line-height: 1.1; /* Adjust the line-height as needed */
}

.footer-style h5 {
    font-size: 20px;
    color: darkred;
}

.footer-style p {
    font-size: 13px;
    color: white;
}